@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold-Italic';
  src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  src: url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light-Italic';
  src: url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Italic';
  src: url('/fonts/Raleway/static/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold-Italic';
  src: url('/fonts/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light-Italic';
  src: url('/fonts/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium-Italic';
  src: url('/fonts/Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold-Italic';
  src: url('/fonts/Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('/fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold-Italic';
  src: url('/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('/fonts/Raleway/static/Raleway-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Black-Italic';
  src: url('/fonts/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('/fonts/Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraLight-Italic';
  src: url('/fonts/Raleway/static/Raleway-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('/fonts/Raleway/static/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin-Italic';
  src: url('/fonts/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Ubuntu', sans-serif;

  --font-raleway-thin: 'Raleway-Thin', sans-serif;
  --font-raleway-thin-italic: 'Raleway-Thin-Italic', sans-serif;
  --font-raleway-extra-light: 'Raleway-ExtraLight', sans-serif;
  --font-raleway-extra-light-italic: 'Raleway-ExtraLight-Italic', sans-serif;
  --font-raleway-light: 'Raleway-Light', sans-serif;
  --font-raleway-light-italic: 'Raleway-Light-Italic', sans-serif;
  --font-raleway-regular: 'Raleway-Regular', sans-serif;
  --font-raleway-medium: 'Raleway-Medium', sans-serif;
  --font-raleway-medium-italic: 'Raleway-Medium-Italic', sans-serif;
  --font-raleway-semi-bold: 'Raleway-SemiBold', sans-serif;
  --font-raleway-semi-bold-italic: 'Raleway-SemiBold-Italic', sans-serif;
  --font-raleway-bold: 'Raleway-Bold', sans-serif;
  --font-raleway-bold-italic: 'Raleway-Bold-Italic', sans-serif;
  --font-raleway-extra-bold: 'Raleway-ExtraBold', sans-serif;
  --font-raleway-extra-bold-italic: 'Raleway-ExtraBold-Italic', sans-serif;
  --font-raleway-black: 'Raleway-Black', sans-serif;
  --font-raleway-black-italic: 'Raleway-Black-Italic', sans-serif;

  --font-ubuntu-regular: 'Ubuntu-Regular', sans-serif;
  --font-ubuntu-bold: 'Ubuntu-Bold', sans-serif;
  --font-ubuntu-bold-italic: 'Ubuntu-Bold-Italic', sans-serif;
  --font-ubuntu-italic: 'Ubuntu-Italic', sans-serif;
  --font-ubuntu-light: 'Ubuntu-Light', sans-serif;
  --font-ubuntu-light-italic: 'Ubuntu-Light-Italic', sans-serif;
  --font-ubuntu-medium: 'Ubuntu-Medium', sans-serif;
  --font-ubuntu-medium-italic: 'Ubuntu-Medium-Italic', sans-serif;
  --font-ubuntu-semibold: 'Ubuntu-SemiBold', sans-serif;
  --font-ubuntu-semibold-italic: 'Ubuntu-SemiBold-Italic', sans-serif;
}

body {
  font-family: var(--font-primary);
}